.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 30px;
}

.language-buttons-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #ffffff;
  height: 150vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
